PORT=3000

NODE_ENV=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

RESEND_API_KEY=
EMAIL_FROM=
EMAIL_FROM_NAME=

FRONTEND_URL=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

DYNAMODB_USERS_TABLE=
DYNAMODB_USERS_EMAIL_GSI=
DYNAMODB_MESSAGES_TABLE=
DYNAMODB_MESSAGES_SENDER_GSI=
DYNAMODB_MESSAGES_RECEIVER_GSI=
S3_BUCKET_NAME=
S3_PUBLIC_URL=


ARCJET_KEY=
ARCJET_ENV=